<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="/static/form.css">
</head>
<body>
    <h1>Form</h1>
    <form action="/form" method="post">
        <!-- Replace 'col1', 'col2', etc., with the actual column names you need -->
        <label for="Name">Name:</label>
        <input type="text" name="Name" required>
        <br>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" required>
        <br>
        <label for="occ">movie genere</label>
        <select name="occ" id="occ"  required>
            <option value=" ">movie genere</option>
            <option value="Horror">horror</option>
            <option value="Sci-fi">Sci-fi</option>
            <option value="Fantasy">fantasy</option>
            <option value="Comedy">comedy</option>
            <option value="Action">action</option>
            <option value="Drama">Drama</option>
            <option value="Thriller">thriller</option>
            <option value="Animation">animation</option>
            <option value="Documentary">documentary</option>
            <option value="History">history</option>
            <option value="Others">others</option>
        </select>
        <br>
        <label for="st">prefered day :</label>
        <select name="st" required>
            <option value=" ">prefered day</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
    <a href="{{ url_for('pie_chart') }}">View Pie Chart</a>
    <a href="{{ url_for('scatter_plot') }}">View scatter plot</a>
</body>
</html> 